---
import Layout from '../layouts/Layout.astro';
import ImageCarousel from '../components/ImageCarousel';
import { addReservaTour } from  '../../config/firebaseServices';
const tour = {
  nombre: "Exploración en el Parque Nacional Manuel Antonio",
  destino: {
    canton: "Quepos",
    provincia: "Puntarenas"
  },
  descripcion: "Un tour guiado que te lleva a través de los senderos del Parque Nacional Manuel Antonio, donde podrás observar una variada fauna, playas paradisíacas y disfrutar de actividades acuáticas.",
  duracion: "6 horas",
  precio: "$90",
  imagenes: [
   'src\\assets\\tourDefault.jpg',
   'src\\assets\\Logo Costa Rica Hills.jpg'

  ]
};
---
<Layout title={tour.nombre}>
  <section class="tour-details">
    <div class="carousel-container">
      <ImageCarousel images={tour.imagenes} client:load />
    </div>
    <div class="tour-info">
      <h1>{tour.nombre}</h1>
      <p><strong>Destino:</strong> {tour.destino.canton}, {tour.destino.provincia}</p>
      <p><strong>Descripción:</strong> {tour.descripcion}</p>
      <p><strong>Duración:</strong> {tour.duracion}</p>
      <p><strong>Precio:</strong> {tour.precio}</p>
      <button id="ReservarTour-button" data-tour-nombre={tour.nombre}>Reservar Tour</button>
    </div>
  </section>
</Layout>

<script>
  import { addReservaTour } from  '../../config/firebaseServices';

  document.getElementById('ReservarTour-button').addEventListener('click', async () => {
    const userId = localStorage.getItem('userId');
    const target = event.target as HTMLElement;
    const tourNombre = target.getAttribute('data-tour-nombre');
    if (userId) {
      try {
        await addReservaTour(tourNombre, userId);
        alert('Reserva realizada con éxito');
      } catch (error) {
        console.error('Error al reservar el tour:', error);
        alert('Hubo un error al realizar la reserva');
      }
    } else {
      alert('Por favor, inicia sesión para reservar el tour');
    }
  });
</script>

<style>
  .tour-details {
    display: flex;
    gap: 2rem;
    padding: 2rem;
  }
  .carousel-container {
    width: 60%;
  }

  .tour-info {
    width: 40%;
    color: white;
  }

  .tour-info h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .tour-info p {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
</style>
