---
interface Props {
  title: string;
  body: string;
  image: string;
  destination: string;
  duration: string;
  price: string;
  description: string;
  link: string; // Añadimos una propiedad para el enlace
}
const { title, body, image, destination, duration, price, description, link } = Astro.props;
---

<li class="link-card">
  <a href={link} class="card-link">
    <div class="image-section" style={`background-image: url(${image});`}>
      <div class="content">
        <h2>{title}<span>&rarr;</span></h2>
        <div class="details">
          <p><strong>Destino:</strong> {destination}</p>
          <p><strong>Duración:</strong> {duration}</p>
          <p><strong>Precio:</strong> {price}</p>
        </div>
      </div>
    </div>
    <div class="description">
      <p>{description}</p>
    </div>
  </a>
</li>

<style>
  .link-card {
    list-style: none;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
  }
  .card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
  }
  .image-section {
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
  }
  .content {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.5rem;
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5); /* Efecto de opacidad leve */
  }
  .details {
    margin-bottom: 1rem;
  }
  .description {
    padding: 1rem;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    width: 100%;
  }
  .link-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }
  .link-card:hover .content h2 {
    color: #00a08b;
  }
  h2 {
    margin: 0;
    font-size: 2rem;
    transition: color 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 1.2rem;
  }
</style>